@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --clr-title: rgba(36, 46, 82, 1);
  --clr-title-white: #ffffff;
  --clr-text: rgba(140, 140, 148, 1);
  --clr-text-white: #ffffff;

  --fs-title: 4.6rem;
  --fs-subtitle: 3.6rem;
  --fs-text: 1.6rem;

  --clr-accent: rgba(139, 72, 191, 1);
  --clr-accent-lp: rgba(139, 72, 191, 0.3);
  --clr-accent-blue: rgba(60, 221, 243, 1);
  --clr-bg-cards: rgba(250, 250, 250, 1);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
body * {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  transition: background-color 0.3s ease;
}
img,
svg {
  max-width: 100%;
  display: block;
}
h1 {
  font-size: var(--fs-title);
  color: var(--clr-title);
}
h2 {
  font-size: var(--fs-subtitle);
}
p {
  font-size: var(--fs-text);
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Mobile first */
/* Header */
header,
.padel-wrapper {
  padding: 0 4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 5rem;
}
header > svg {
  color: rgba(35, 44, 80, 1);
}

/* Main */

.padel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
}
.padel-wrapper > .padel-info > button {
  align-self: flex-end;
}
.img-padel {
  align-self: center;
  margin: 6.4rem 0 10rem 0;
}
.padel-wrapper p {
  font-size: var(--fs-text);
  font-weight: lighter;
  color: rgba(0, 0, 0, 1);
  margin: 2.8rem 0;
}
button {
  width: 13.4rem;
  padding: 1.2rem 0;
  border-radius: 5rem;
  border: none;
  color: var(--clr-text-white);
  background-color: var(--clr-accent);
  font-weight: lighter;
}
button:hover {
  cursor: pointer;
  background-color: rgba(139, 72, 191, 0.7);
}
/* 2nd Section  */
main .pros-section {
  background-color: var(--clr-accent-blue);
  color: var(--clr-text-white);

  padding: 4rem 4.6rem 4rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 55px;

  margin-top: 4rem;
}
/* 3rd Section */
.list-section {
  padding-top: 6.5rem;
}
.list-wrapper {
  max-width: 100%;

  list-style: none;
  counter-reset: item;

  font-size: var(--fs-text);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list-wrapper li {
  counter-increment: item;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1rem;

  margin-left: 3.4rem;
  font-weight: 700;
}

.list-wrapper li::before {
  content: "0" counter(item);
  background-color: var(--clr-accent);
  color: var(--clr-text-white);
  padding: 1rem 2.5rem;

  border-radius: 3rem;

  position: absolute;
  align-self: flex-start;
}
.list-wrapper li h3 {
  color: var(--clr-title);

  border-radius: 2.5rem 0 0 2.5rem;
  background-color: var(--clr-accent-lp);

  width: 100%;
  padding: 1rem 8rem;
  font-size: var(--fs-text);
}
.list-wrapper > li > p {
  margin: 0 2rem 0 1rem;
  color: var(--clr-text);
}
.list-wrapper > * {
  margin-bottom: 20px;
}
/* Best of the month */

.best-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 4.5rem;

  padding: 5.8rem 0;
}
.best-wrapper h2 {
  margin-bottom: 2.5rem;
}
.players-wrapper {
  display: grid;
  place-items: center;
}
.players {
  width: 90%;
}
.players-photo {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  background: linear-gradient(180deg, #ffffff 50%, var(--clr-bg-cards) 50%);
}
.players-photo > img {
  position: relative;
}
.players-info {
  display: flex;
  flex-direction: column;

  background-color: var(--clr-bg-cards);
  padding: 20px 25px;

  text-align: center;
  line-height: 1.6;
  gap: 10px;
}
.players-info > h3 {
  font-size: var(--fs-text);
  color: var(--clr-title);
  font-weight: 700;
}
.players-info > p {
  font-weight: 500;
  color: var(--clr-text);
}

main section:last-child {
  background: var(--clr-accent-blue);
  color: var(--clr-text-white);
  text-align: center;

  min-height: 50svh;
  padding: 0 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
main section:last-child > button {
  background-color: #232851;
}

/* Footer */
footer {
  background-color: #1e1e26;

  padding: 50px 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer > *:not(:last-child) {
  margin-bottom: 5rem;
}
.inbox {
  display: flex;
  justify-content: center;
  gap: 1rem;

  width: 90%;
}

.inbox > button {
  padding: 1.15rem 0;
  width: 10rem;
}
.inbox > input {
  padding: 1.8rem 1.25rem;
  border-radius: 4rem;
  width: 100%;
  color: var(--clr-text);
}

footer > ul {
  display: grid;
  place-items: center start;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 8rem;

  font-size: var(--fs-text);
  font-weight: 400;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7rem;
  font-size: 2.2rem;
}
footer > svg {
  color: white;
}
footer h6 {
  color: var(--clr-text);
  font-size: 1.25rem;
  font-weight: 500;
}

/* Desktop */
nav > .nav-desktop {
  display: none;
  gap: 2.6rem;
}
nav > .nav-desktop a {
  color: var(--clr-title);
  font-weight: 500;
  font-size: var(--fs-text);

  transition: color 0.3s ease;
}
nav > .nav-desktop a:hover {
  color: rgba(36, 46, 82, 0.6);
}
header > button {
  display: none;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  padding: 1.25rem 4rem;
}
@media (max-width: 1080px) {
  .players-wrapper .players:nth-child(odd) {
    display: none;
  }
}
@media (min-width: 1080px) {
  header,
  .padel-wrapper {
    margin: 5rem 11%;
    padding: 0;
  }

  /* Header */
  .hamburger-nav {
    display: none;
  }

  nav > .nav-desktop,
  header > button {
    display: flex;
  }

  /* Main */
  .padel-wrapper {
    flex-direction: row;
    gap: 10rem;
  }
  main .pros-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-accent);

    padding: 4rem 22rem;
  }
  main .pros-section > p {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet consequat purus sit amet sodales. In faucibus ut nisi eu dignissim. Vestibulum fringilla velit sed tincidunt tincidunt.";
    max-width: 45rem;
  }

  main .list-section {
    background-color: rgba(250, 250, 250, 1);
  }

  .list-wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 15.3rem;

    gap: 3rem 5rem;
  }
  .list-wrapper li {
    display: grid;
    grid-template-columns: repeat(2, auto);

    max-width: calc(44rem + 10rem);
    margin: 0;

    gap: 1rem 2.3rem;

    color: var(--clr-text);
  }

  .list-wrapper li::before {
    position: static;
    grid-column: 1;
  }
  .list-wrapper li h3 {
    background-color: inherit;
    padding: 0;
    color: var(--clr-title);
  }
  .list-wrapper li:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .list-wrapper li p {
    grid-column: 2;
  }

  .best-wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .players-wrapper {
    display: flex;
    padding: 0 7rem;
  }
  main section:last-child {
    flex-direction: row;
  }
}
